:root {
  --planet-orange: #ff7d6d;
  --planet-green: #51b593;
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  color: white;
}

.login-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.login-header {
  text-align: center;
}
.login-form,
.register-form {
  border: 0.33rem solid;
  border-radius: 2rem;
  padding: 2rem 3rem 3rem 3rem;
  width: 17rem;
  height: 21rem;
}

.login-form {
  margin-top: 2rem;
}

.register-success {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--planet-green);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 300ms;
  margin-top: -5rem;
}
.close-nav-toast {
  transition: all 100ms;
}
.close-nav-toast:hover {
  color: rgba(255, 255, 255, 0.798);
}
.register-success:hover {
  background-color: #288b6a;
}

.register-form {
  height: 23rem;
  /* margin-top: 5rem; */
}

.username-container {
  display: flex;
  gap: 0.3rem;
  margin-top: 1.5rem;
  align-items: flex-end;
}

.username-input,
.password-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  caret-color: white;
  margin: 0;
  padding: 0;
}

.username-input::placeholder,
.password-input::placeholder {
  color: white;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 0.1rem;
}

.underline {
  background-color: white;
  margin-top: 0.4rem;
  width: 17rem;
  height: 0.2rem;
}

.input-1 {
  display: flex;
  flex-direction: column;
}

.eye-icon-closed,
.eye-icon-open {
  margin-left: 3.5rem;
  cursor: pointer;
  transition: all 300ms;
}

.eye-icon-closed:hover,
.eye-icon-open:hover {
  color: var(--planet-orange);
}

.forgot-password {
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  width: 4rem;
}

.no-account,
.have-account {
  font-size: 0.8rem;
  font-weight: 500;
  width: 4rem;
}

.forgot-password:hover,
.register:hover {
  color: var(--planet-orange);
}

.register,
.login {
  color: white;
  font-weight: bold;
  /* cursor: pointer; */
  text-decoration: none;
  transition: all 300ms;
}

.register-container {
  margin-top: 0.5rem;
  text-align: center;
}
.login-button {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 17.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 500ms;
}

.login-button:hover {
  background-color: var(--planet-orange);
  color: white;
}

.error-message {
  color: var(--planet-orange);
  font-size: 0.8rem;
  font-weight: normal;
}

.trivial-pursuit {
  margin-top: -4rem;
  font-size: 3rem;
}
